language: csharp
os:
  - osx
mono:
  - 5.16.0
install:
  - nuget restore ./src/Voucherify/Voucherify.csproj
  - nuget restore ./src/Voucherify/Voucherify.Client.csproj
  - nuget restore ./src/Tests/Voucherify.Tests.csproj
script: 
  - msbuild /p:"Configuration=Release" ./src/Voucherify/Voucherify.csproj
  - msbuild /p:"Configuration=Release" ./src/Voucherify/Voucherify.Client.csproj
  - msbuild /p:"Configuration=Release" ./src/Tests/Voucherify.Tests.csproj
